/* Reset to default*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid teal; */
}

a {
    text-decoration: none;
    color: white;
}

/* Styling */

body {
    font-family: Roboto, sans-serif;
}

nav li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

li:first-child {
    margin-right: 250px;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.fig-1 > img, header > section {
    width: 400px;
    height: auto;
}

nav, header, .bodyfoot {
    background-color: #1F2937;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

header p, .navlink {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button, .mainfoot {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    padding: 3px;
    border: 1px solid white ;
}

main img {
    width: 150px;
    height: auto;
    border: 5px solid #1F2937;
    border-radius: 20px;
}

.mainsec-1 {
    display: flex;
    flex-flow: column wrap;
}

h2 {
    margin: auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

figcaption {
    width: 150px;
    height: auto;
    text-align: center;
}

.mainfigs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 70px;
}

.quote {
    padding: 50px 150px;
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote footer {
    text-align: right;
}

.mainfoot {
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
    padding: 20px 0;
}

.bodyfoot {
    display: flex;
    justify-content: center;
    padding: 10px;
}

a:hover {
    color: rgb(161, 161, 161);
}